<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Profil</title>
  </head>

  <body>

    <p align="center">
      <a href="beranda.html"><button>Home</button></a>
      <a href="profil.html"><button>Profil</button></a>
    </p>
    <br>
    <form method="post"">
        <h2 align="center">Profil</h2>
        <p align="center"><img src="../asset/user_blank.png" width="9%"></p>
        <h4 align="center">Ahmad_Ruslandia</h4>
    <table align="center">
        <tbody>
        <!-- Nama -->
              <tr>
                <td><label><br></label></td>
              </tr>   
              <tr>
                  <td><label>Nama</label></td>
                  <td><label>:</label></td>
                  <td><label>Ahmad Ruslandia</label></td>
              </tr>
              
        <!-- Telefon -->
        <tr>
          <td><label><br></label></td>
        </tr>   
        <tr>
            <td><label>Handphone</label></td>
            <td><label>:</label></td>
            <td><label>+62812XXXX</label></td>
        </tr>

                <!-- Tanggal Lahir -->
                <tr>
                  <td><label><br></label></td>
                </tr>   
                  <tr>
                    <td><label>Tanggal Lahir</label></td>
                    <td><label>:</label></td>
                    <td><label>28/02/2002</label></td>
                  </tr>
                  <tr>
                    <td><label><br></label></td>
                  </tr>   

                  <!-- Jenis kelamin -->
                  <tr>
                    <td><label>Jenis Kelamin</label></td>
                    <td><label>:</label></td>
                    <td><label>Laki-laki</label></td>
                  </tr>
                  <tr>
                    <td><label><br></label></td>
                  </tr>   

        <!-- Alamat -->
        <tr>
          <td><label>Alamat</label></td>
          <td><label>:</label></td>
          <td><label>Jln. Emmy Saelan</label></td>
        </tr>
        <tr>
          <td><label><br></label></td>
        </tr>   

        </tbody>
    </table>
    </form>


  </body>
</html>